<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark float-end" routerLink="/agregar-empleado">Agregar</button>
            <!-- La tabla solo se mostrará si el array tiene datos-->
            <div *ngIf="empleados.length == 0" class="alert alert-primary text-center mt-3" role="alert">
                No hay registros en la base de datos.
            </div>
            <table *ngIf="empleados.length > 0" class="table mt-3 table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>RUT</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.rut }}</td>
                        <td>{{ empleado.salario | currency }}</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info me-3"></i>
                            <i (click)="eliminarEmpleado(empleado.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>