<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark float-end" routerLink="/agregar-empleado">Agregar</button>
            <table class="table mt-3 table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>RUT</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Jean-Luc</td>
                        <td>Picard</td>
                        <td>12994434-9</td>
                        <td>500.000</td>
                        <td>
                            <i class="fas fa-edit fa-lg text-info me-3"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>

                    <tr>
                        <td>Felipe</td>
                        <td>Araya</td>
                        <td>1688438-9</td>
                        <td>400.000</td>
                    </tr>

                    <tr>
                        <td>Alicia</td>
                        <td>Araya</td>
                        <td>10876378-0</td>
                        <td>600.000</td>
                    </tr>
                </tbody>
            </table>

            <ul>
                <li class="text" *ngFor="let item of items | async">
                    {{item.name}}
                </li>
            </ul>

        </div>
    </div>
</div>